<!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
<div class="content">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-header card-header-rose card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">assignment</i>
                            </div>
                            <h4 class="card-title">Add Whitepaper Details</h4>
                        </div>

                        <div class="card-body">
                            {{>msg}}
                        </div>
                        <div class="card-body ">
                            <form class="form" method="POST" action="/admin/add-whitepaper-details/{{whitepaper_category.id}}"  enctype="multipart/form-data">

                                    <div class="row">
                                    <label class="col-md-3 col-form-label">Title</label>
                                    <div class="col-md-9">
                                        <div class="form-group has-default">
                                            <input type="text" class="form-control" name="title" value="{{title}}">
                                        </div>
                                    </div>
                                </div>
                                

                                <div class="row">
                                    <label class="col-md-3 col-form-label">Abstract</label>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <textarea class="form-control" name="abstract"
                                                maxlength="number">{{abstract}}</textarea>
                                        </div>
                                    </div>
                                </div>

                                

                                 <div class="row">
                                    <label class="col-md-3 col-form-label">Website Link</label>
                                    <div class="col-md-9">
                                        <div class="form-group has-default">
                                            <input type="text" class="form-control" name="website_link" value="{{website_link}}">
                                        </div>
                                    </div>
                                </div>

                               <div class="row">
                                    <label class="col-md-3 col-form-label">Upload Picture</label>
                                    <div class="col-md-9">
                                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                            <div class="fileinput-new thumbnail">
                                                <img src="/assets2/img/image_placeholder.jpg" alt="...">
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                            <div>
                                                <span class="btn btn-rose btn-round btn-file">
                                                    <span class="fileinput-new">Select image</span>
                                                    <span class="fileinput-exists">Change</span>
                                                    <input type="file" name="sampleFile" />
                                                </span>
                                                <a href="#pablo" class="btn btn-danger btn-round fileinput-exists"
                                                    data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer justify-content-center">
                                    <div class="row">

                                        <div class="col-md-9">
                                            <button type="submit" class="btn btn-fill btn-rose">Lets
                                                Go</button>
                                        </div>


                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>

</div>