<div class="content">
        <div class="container-fluid">
          <div class="row">
           <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img" src="/assets2/img/default-avatar.png" />
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="card-category text-gray">{{email}}</h6>
                  <h4 class="card-title">{{name}}</h4>
                  
                  
                </div>
                
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
</div>