<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">assignment</i>
                  </div>
                  <h4 class="card-title">List of Subscriber</h4>
                </div>
                <div class="card-body">
                  <div class="toolbar">
                    <!--        Here you can write extra buttons/actions for the toolbar              -->
                  </div>
                  <div class="material-datatables">
                    <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                      <thead>
                        <tr>
                      
                          <th>Email</th>
                   
                        
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          
                          <th>Email</th>
                         
                        </tr>
                      </tfoot>
                      <tbody>
                        {{#each subscriber}}
                        {{#dataValues}}
                        <tr>
                          
                          <td>{{email}}</td>
                      
                         
                        </tr>
                        {{/dataValues}}
                        {{/each}}
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- end content-->
              </div>
              <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
          </div>
          <!-- end row -->
        </div>
      </div>